:root {
      /* WARNA UTAMA (SESUI DESAIN) */
      --blue:#085EC8;
      --blue-light:#1E7FE6;
      --green:#2ECC71;
      --green-dark:#1FA463;
        /* AKSEN GOLD (PRESTASI & KEJAYAAN) */
      --gold:#F2C94C;
      --gold-dark:#D4AF37;
      --gold-soft:rgba(242,201,76,.25);

      --bg-soft:#F4F8FF;
      --text-dark:#1f2937;

      --radius:16px;

  --biru: #0b5ed7;
  --hijau: #198754;
  --emas: #d4af37;
  --abu: #f5f7fa;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: var(--abu);
  color: #222;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

#info {
  text-align: center;
  margin-bottom: 20px;
}

.soal {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.opsi label {
  display: block;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.opsi input {
  margin-right: 10px;
}

.opsi label:hover {
  background: #f1f1f1;
}

.benar {
  background: #d4edda !important;
}

.salah {
  background: #f8d7da !important;
}

.btn-cbt {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #28a745;
  color: white;
  cursor: pointer;
}

.btn-cbt:hover {
  background: #218838;
}

#hasil {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.img-soal {
  max-width: 100%;
  margin: 10px 0;
  border-radius: 8px;
}

.img-opsi {
  max-width: 120px;
  margin-top: 5px;
  display: block;
}

input:disabled {
  cursor: not-allowed;
}
