    /* ===== NAVBAR ===== */
    .navbar{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:14px 24px;
  background:var(--blue);
  backdrop-filter:blur(8px);
  color:white;
  position:relative;      
    z-index:9000;      
    }
  
.brand{
  display:flex;
  align-items:center;
  gap:12px;
}

.brand img{
  width:35px;
  height:46px;
  border-radius:50%;
  background:none;
  padding:5px;
}

.brand-text{
  line-height:1.1;
}

.brand-text .top{
  font-size:13px;
  font-weight:600;
  color:#EAF2FF; /* putih kebiruan */
}

.brand-text .bottom{
  font-size:18px;
  font-weight:800;
}

.brand-text .al{
  color:#ffffff;
}

.brand-text .study{
  color:#2ECC71; /* hijau */
}

/* HAMBURGER */
.hamburger{
  display:none;
  flex-direction:column;
  gap:5px;
  cursor:pointer;
    position:relative;
  z-index:3000;
}

.hamburger span{
  width:24px;
  height:3px;
  background:#fff;
  border-radius:3px;
  transition:.3s;
}
/* ANIMASI HAMBURGER */
.hamburger.active span:nth-child(1){
  transform: rotate(45deg) translate(5px,5px);
}

.hamburger.active span:nth-child(2){
  opacity:0;
}

.hamburger.active span:nth-child(3){
  transform: rotate(-45deg) translate(6px,-6px);
}
.menu-top{
  display:none;
}
.close-menu{
background:none;
border:none;
color:white;
font-size:22px;
cursor:pointer;
}

/* ===== MENU ===== */
.nav-menu{
  display:flex;
    flex-direction:row;
  gap:28px;
  align-items:center;  
}
.menu-content{
  display:contents;
}
.nav-menu a,
.drop-btn{
  color:white;
  text-decoration:none;
  font-size:16px;
  font-weight:600;
    background:none;
border:none;
cursor:pointer;
  position:relative;
}

.nav-menu a::after,
.nav-menu button::after{
  content:'';
  position:absolute;
  left:0;
  bottom:-6px;
  width:0;
  height:2px;
  transition:.3s;
   background:var(--gold);
}

.nav-menu a:hover::after,
.nav-menu button:hover::after{
  width:100%;
}

/* DROPDOWN */
.dropdown{
  position:relative;
}

/* MENU DROPDOWN */
.dropdown-menu{
  position:absolute;
  top:100%;
  left:0;
  background:white;
    color:#333;
  border-radius:10px;
  padding:16px;
  display:grid;
  grid-template-columns:repeat(3, 150px);
  gap:16px;

  opacity:0;
  visibility:hidden;
  transform:translateY(10px);
  transition:.25s ;
}

/* HOVER DESKTOP */
@media(min-width:769px){
.dropdown:hover .dropdown-menu{
  opacity:1;
  visibility:visible;
  transform:translateY(0);
}
    }

/* SUBMENU */
.submenu-title{
  font-size:13px;
  font-weight:bold;
  color:var(--gold);
  margin-bottom:8px;
}

.submenu-list{
  display:flex;
  flex-direction:column;
  gap:6px;
}

.submenu-list a{
    display:block;
color:#333;
  font-size:13px;
  padding:4px 0;
}

.submenu-list a:hover{
  background:rgba(255,255,255,.08);
}
.menu-overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.55);
opacity:0;
visibility:hidden;
transition:.3s;
z-index:8000;
}

.menu-overlay.show{
opacity:1;
visibility:visible;
}
/* MOBILE */
@media(max-width:768px){
.navbar{
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
}
  .hamburger{
display:flex;
  }
.menu-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:10px;
}

  .nav-menu{
    position:fixed;
top:0;
right:-280px;
width:280px;
height:100vh;
background:#0b3d2e;
display:flex;
flex-direction:column;
transition:.35s;
z-index:10000;      
  }

  .nav-menu.show{
 right:0;
  }
/* HEADER MENU */
.menu-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:16px;
  border-bottom:1px solid rgba(255,255,255,.1);
  background:#0b3d2e;

  position:sticky;
  top:0;
  z-index:10000;
}
    /* ISI MENU */
.menu-content{
  flex:1;
  overflow-y:auto;
  padding:20px;
  display:flex;
  flex-direction:column;
  gap:22px;
}

  .nav-menu a,
  .drop-btn{
    font-size:18px;
    font-weight:600;  
  }

.close-menu{
background:none;
border:none;
color:white;
font-size:22px;
cursor:pointer;
}
  .dropdown-menu{
position:static;
display:none;
grid-template-columns:1fr;
background:rgba(255,255,255,.05);
padding:10px;
margin-top:8px;
/* reset efek desktop */
opacity:1;
visibility:visible;
transform:none;      
  }

  .dropdown.active .dropdown-menu{
    display:block;
  }

 .submenu{
    background:rgba(255,255,255,.05);
    padding:10px;
    border-radius:10px;
  }

  .submenu-title{
    font-size:14px;
  }
  .submenu-list a{
color:#EAF2FF;
font-size:15px;
padding:6px 0;
}  
}
